<link href="home.component.css" rel="stylesheet" type="text/css" />

<mat-toolbar class ="mat-toolbar1">
  <mat-toolbar-row class="toolbar-row">
    <span class="spacer"></span>
    <div class="action-buttons">
      <button mat-raised-button color="primary">Empleos</button>
      <button mat-raised-button color="primary">Tarifas</button>
      <button mat-raised-button color="primary">Evaluación de empresa</button>
    </div>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <p>Somos una empresa muy dinámica, actualmente contamos con convenios de distintas empresas para generar empleos rápidos y seguros. Además, si no cuentas con una empresa y quieres generar algún tipo de empleo, ¿qué esperas? Chamba es tu solución. Activa tu cuenta y empieza con Chamba ya!</p>
  <img src="./assets/empresa.jpeg" alt="Empresa">
</main>

<footer>
  <h2>Empresas Asociadas</h2>
  <div class="partners">
    <img src="assets/el_comercio.png" alt="El Comercio">
    <img src="assets/donofrio.png" alt="Donofrio">
    <img src="assets/interbank.png" alt="Interbank">
    <img src="assets/backus.png" alt="Backus">
    <img src="assets/breca.png" alt="Breca">
  </div>
</footer>